/**
 * Site menu styling.
 */

.site-navigation{
    .menu{
        padding: 10px;
        margin-bottom: 0;
        .menu-item{
            text-decoration: none;
            display: inline-flex;
            margin-right: 20px;

        a{
            color: white;
            line-height: 2rem;
            background-image: linear-gradient(white, white);
            background-size: 0 1px, auto;
            background-repeat: no-repeat;
            background-position: center bottom;
            transition: all .2s ease-out;
            &:hover{
                text-decoration: none;
                background-size: 100% 1px, auto;
               
            }
        }
    }
    }
}
